* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 1000px;
  background: skyblue;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.header img {
  padding: 20px 20px;
}
.a,
.b,
.c {
  background: black;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  position: relative;
}
.a {
  left: 300px;
  bottom: 75px;
}
.b {
  left: 500px;
  bottom: 125px;
}
.c {
  left: 700px;
  bottom: 175px;
}
.main {
  width: 1000px;
  background: skyblue;
  height: 800px;
  margin: 0 auto;
}
.imgbox {
  position: relative;
  left: 20px;
  top: 50px;
}
.box1 {
  position: relative;
  top: 180px;
  left: 20px;
  background: purple;
  width: 400px;
  height: 300px;
}
.box2 {
  position: absolute;
  right: 490px;
  top: 180px;
  background: yellow;
  width: 400px;
  height: 720px;
}
.box3 {
  position: fixed;
  right: 200px;
  top: 80px;
}
