* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 800px;
  margin: 0 auto;
}
.main {
  background: skyblue;
  padding: 20px 0;
  position: sticky;
  /* top: 200px; */
}
.A {
  font-weight: 900;
  padding: 0 20px;
}
ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}
#move {
  position: fixed;
  top: 200px;
  border-radius: 20px;
  background: red;
  width: 30px;
  cursor: pointer;
}
